.serviceBtn{
    padding: 13px 45px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    border: none ;
    background-color: #ffc700;
    cursor: pointer;
    transition: 0.4s;
}
.serviceBtn:hover{
    background-color: #ebba08;
}