/* About.css */
.about-container {
    background-image: url(../../assets/images/about.png);
    padding: 0px 70px;
    font-family: Arial, sans-serif;
    background-repeat: round;
    background-size: contain;
    padding-top: 75px;
  }
  
  .about-content {
    margin: 0 auto;
    display: flex;
    gap: 50px;
  }
  .about-text{
    width: 50%;
    padding: 10px;
  }
  .about-text h2 {
    color: #003C07;
    font-size: 40px;
    margin-bottom: 40px;
    
  }
  
  .about-text p {
    color: #000;
    line-height: 35px;
    margin-bottom: 15px;
    font-size: 15px;
    
  }
  
  .about-sections {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 30px;
    width: 50%;
    gap: 30px;
  }
  
  .section {
    /* flex-basis: calc(33.333% - 20px);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    display: flex;
    gap: 20px;
  }
  
  .section img {
    width: 100px;
    background-color: #ffd700;
    padding: 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 100px;
  }
  
  .section h3 {
    color: #003C07;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
  }
  
  .section p {
    color: #000;
    line-height: 30px;
    font-size: 15px;
    font-weight: 500;

  }
  
  .section ul {
    padding-left: 20px;
    color: #000;
    line-height: 30px;
    font-size: 15px;
    font-weight: 500;
  }
  
  .section li {
    margin-bottom: 10px;
  }
  
  /* @media (max-width: 768px) {
    .section {
      flex-basis: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .about-container {
      padding: 20px 10px;
    }
    
    .about-text h2 {
      font-size: 24px;
    }
    
    .section h3 {
      font-size: 18px;
    }
  } */
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      gap: 30px;
    }
    
    .about-text,
    .about-sections {
      width: 100%;
    }
    
    .section {
      flex-direction: row;
      gap: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .about-container {
      padding: 0;
      background-repeat:no-repeat;
      background-image: none;
     
    }
    
    .about-text h2 {
      font-size: 28px;
      margin-bottom: 10px;
      margin-top: -20px;
    }
    
    .about-text p{
      font-size: 15px;
      line-height: 25px;
      text-align: justify;
      padding: 10px;
    }
    
    .section h3 {
      font-size: 16px;
    }
    
    .section img {
      width: 60px;
      height: 60px;
      padding: 10px;
      margin-left: 10px;
    }
    
    .section ul {
      padding-left: 15px;
      padding-right: 20px;
    }
    .section{
      margin-top: -30px;
      margin-bottom: 30px;
    }
    .section p{
      text-align: justify;
      padding-right: 20px;
    }
  }