.blog-container {
    display: flex;
    flex-wrap: wrap;
 
    padding: 5px;
  }
  
  .blog-card {
    border: 1px solid #d1d5db;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 16px;
    max-width: 300px;
  }
  
  .blog-card img {
    width: 300px;
    height:250px;
    display: block;
    
  }
  
  .blog-card .content {
    padding: 5px;
  }
  
  .blog-card .title {
    font-size: 1.20rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .blog-card .description {
    color: #0f1010;
    padding:3px;
    font-size: 15px;

  }
  
  .blog-card .date {
    display: inline-block;
    background-color: #e5e7eb;
    border-radius: 99px;
    padding: 4px 12px;
    font-size: 0.875rem;
    font-weight: 600;
    color: #374151;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  
  .blog-card .read-more-button {
    background-color: #f1e237;
    color: white;
    font-weight: bold;
    margin: 2px 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    
  }
  
  .blog-card .read-more-button:hover {
    background-color:#ffcf32;
  }
  