*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 10px 0;
  line-height: 1.6;
  color: #625B5B;
}

button {
  font-family: inherit;
}
.leftContainer{
  padding: 0 180px;
padding-top: 90px;

}
@media screen and (max-width: 767px) {
  .leftContainer{
    padding: 0 10px;
    margin-top: 65px;
  }
}